@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* This is how you bring in a custom font */
@tailwind base;
@tailwind components;
@tailwind utilities;

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 16px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}

.buttons{
    display: flex;
    justify-content: space-between;
}
.temp{
    width: 150px;
    padding: 15px 0;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}