@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* This is how you bring in a custom font ^ */
@tailwind base;
@tailwind components;
@tailwind utilities;

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 16px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,
.tails{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}

.buttons{
    display: flex;
    justify-content: space-between;
}
.temp{
    width: 150px;
    padding: 15px 0;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
:root {
    --background: white;
    /* Can set background2 for the table here */
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
    --buttons: rgb(79 70 229); /* SET BUTTON COLOR HERE */
    --buttons2: rgb(22 163 74); /* The fire it up / secondary button */
  }
  [data-theme='dark'] {
    /* Set a variable to color the TABLE */
  --background: black;
  --text-primary: white;
  --text-secondary: rgb(148, 148, 148);
  --accent: darkred;
  --buttons: rgb(79 70 229);
  --buttons2: rgb(22 163 74); /* The fire it up / secondary button */
  min-height: 100vh;
  min-width: 100%;
}

.App {
    color: var(--text-primary);
    background-color: var(--background);
    font-weight: bold;
    /* padding: 20px; */
    overflow-x:hidden;
  }

.butt { /* This is the primary indigo button */
    background-color: var(--buttons);
}
.butt2 {
    background-color: var(--buttons2);
}
#market-table {
    color: var(--text-secondary);
    background-color: var(--background);
    /* can set background2 var for table */
    border-color: #ff0000;
}
#table {
    /* Set variable for border color here */
    border-color: rgb(241, 99, 99)
}
  
  
/* Heads result when betting heads. */
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
/* Tails result when betting heads. */
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
/* live = for contract spin (temp) */
@keyframes spin-heads-live{ 
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(21600deg);
    }
}


@keyframes spin-heads-L{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
/* this and above are the issue */
@keyframes spin-tails-W{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1800deg);
    }
}

@keyframes flip-tails{
    0%{
        /* Flips from this amount of deg */
        transform: rotateX(0);
    }
    100%{
        /* To this amount of deg */
        transform: rotateX(180deg);
    }
}
@keyframes flip-heads{
    0%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
